

body{
    background-color: rgb(242, 242, 242);
}
.t_main{
    margin-top: 10px;
    position: relative;
    width:76% ;
    z-index: -1s;
    /* border: 1px solid red; */
right: 0;
left: 300px;
top: 0;
margin-top: 150px;
}

.timesheet_main{
    
display: flex;
justify-content: space-between;

}

.timesheet{
}
.left{
    width: 300px;
    /* border: 1px solid red; */
}
.left_div{
    display: flex;
    border: 0.3px solid rgba(128, 128, 128, 0.349);
    width: fit-content;
    /* padding: 8px; */
    border-radius: 5px;
transform: scale(2);
width: 62px;
height: 22px;
}
.prev_btn{
 
    font-size: 20px;
    border-right: 0.5px solid rgba(128, 128, 128, 0.349);
    padding: 2px;
    
    cursor: pointer;
}
.cal_btn_1{
    font-size: 20px;
    padding: 2px;
   cursor: pointer;
   animation: 5s;
}
.cal_btn{
    font-size: 20px;
    padding: 2px;
    border-right: 1px solid rgba(128, 128, 128, 0.349);
    cursor: pointer;
    animation: 5s;
}
.cal_btn, .cal_btn_1:focus{
    /* color: green; */
}
.next_btn{
    font-size: 20px;
    padding: 2px;
    cursor: pointer;
}
.date_year{
    margin-top: -30px;
    margin-left: 110px;
    font-size: 25px;
    font-weight: 500;
    color: rgba(28, 28, 28, 0.726);
}
.cal{
    /* margin-top: 200px; */
}
.right{
    display: flex;
    justify-content: space-around;
    gap: 12px;
    /* border: 1px solid red; */
}
.day_cal{
    border: 1px solid gray;
    display: flex;
    /* gap: 12px; */
    width: fit-content;
    cursor: pointer;
    border-radius: 8px;
    font-size: 17px;
    color: grey;
}
.day_cal p:nth-child(1){
    border-right: 1px solid grey;
    padding: 5px;
    padding-left: 10px;
    padding-right: 8px;
border: 1px solid green;
color: green;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
}
.day_cal p:nth-child(1):hover{
    background-color: rgba(128, 128, 128, 0.128);
}
.day_cal p:nth-child(2):hover{
    background-color: rgba(128, 128, 128, 0.128);
}
.day_cal p:nth-child(2){
    /* border-right: 1px solid grey; */
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.refresh{
    border: 1px solid grey;
    padding: 6px;
    font-size: 36px;
    border-radius: 8px;
  width: 50px;
  height: 38px;
  color: grey;
  display: flex;
  gap: 4px;
  cursor: pointer;
}
.refresh:hover{
    background-color: rgba(128, 128, 128, 0.125);
}

.user_logo{
margin-top: -5px;
}
.user{
    /* color: green;
    border: 1px solid green; */
}
.bulkEdit{
    color: grey;
    display: flex;
    gap: 4px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 4px;
}
.bulkEdit:hover{
    background-color: rgba(128, 128, 128, 0.182);
}
.edit{
    margin-top: 6px;
}
.edit1{
    margin-top: 2px;
}
.menu{
    border: 1px solid grey;
    font-size: 37px;
    border-radius: 6px;
    padding: 7px;
    color: grey;
    cursor: pointer;
}
.menu:hover{
    background-color: rgba(128, 128, 128, 0.216);
}



/* dropdown */
.userDorpdown{
    display: flex;
    justify-content: space-between;
}
.userDorpdown input{
   outline: none;
   font-weight:600; 
    background-color: rgba(128, 128, 128, 0.14);
    border-radius: 8px;
    padding-left: 6px;
    height: 33px;
    width: 300px;
}
.userDorpdown .AiOutlineSearch{
color: grey;
font-size: 26px;
margin-left: -28px;
margin-top: 5px;
cursor: pointer;
}
.dropdown_main{
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    /* position: relative; */
    margin-top: 100px;
    width: 300px;
    margin-left: 700px;
    margin-top: 5px;
}
.dropdown_main p{
    font-weight: 600;
}
