
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer_main{
    margin: auto;
    padding: 5rem;
    background-color: white;
}
.footer{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(6, 1fr);
    
    width: 80%;
    margin: auto;
    list-style: none;
}
.container_footer{
    
    text-align: start;
    margin-right: 10px;
}
.title{
    font-size: 17px;
    font-weight: 700;
}
.ul{
    text-align: start;
    line-height: 25px;
    margin: auto;
}
.ul p{
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.505);
}
.copyright{
    margin: auto;
    margin-top: 3rem;
   

}
.copyright_icon {
display: flex;
gap: 20px;
align-items: center;
justify-content: center;
color: gray;
}
.copyright p:nth-child(2){
    font-size: 15px;
    color: rgb(92, 92, 92);
}
.copyright p:nth-child(3){
    font-size: 12px;
    color: gray;

}