.mainDiv{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top:5rem ;
}
.leftDivInMain{
    width: 57%;
    padding: 1rem;
}
.rightDivInMain{
    box-shadow: 0 4px 10px 2px rgb(0 0 0 / 17%);
    border-radius: 26px;
    padding: 2rem 5rem;
    width: 42%
}

.reviewColumns {
    display: flex;
    gap: 3rem;
    margin-top:0.5rem
}
.reviewColumnSingle{
    display: flex;
    width: 25%;
    flex-direction: column;
    gap: 1rem;
}
.reviewColumnSinglePTag{
    height: 40%;
}
.imageIcons{
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
    height: 7rem;
}
.formGroupH3Tag{
    font-size: 36px;
}